{% extends 'base.html' %}

{% block content %}
  <style>
    /* Add some styling for the form */
    .password-reset-form {
        width: 300px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        margin-top: 6em;
    }
    .password-reset-form h1 {
        margin: 0;
        padding: 0;
        text-align: center;
        color: #4caf50;
    }
    .password-reset-form .form-control {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    .password-reset-form .btn {
        width: 100%;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 15px;
        cursor: pointer;
        margin-top: 15px;
    }
    .password-reset-form .btn:hover {
        background-color: #45a049;
    }
    </style>
    <form class="password-reset-form" action="{% url 'forgot_password' %}" method="post">
        {% csrf_token %}
        <h1>Forgot Your Password?</h1>
        <div>
            <input type="email" class="form-control" placeholder="Email" name="email" required>
</div>
<div>
<button type="submit" class="btn">Send Email</button>
</div>
</form>




{% endblock %}